{% extends 'base.html'  %}

{% block content %}

<div id="scoutpage_content">
<img src="{{scout.image_url}}" id="scout_picture"/>
<br>
<b>{{ scout.name }} joined on {{scout.start_date}}</b>
<br>
<em>These are the ranks that {{scout.name}} has earned:</em><br>
{% for rank in scout.rank_set.run %}
<b>{{rank.name}} {{rank.date}}</b><em> {{rank.signature}}</em>
  <form method='post' action='/delete_rank'>
  <input type='hidden' name='rank_key' value="{{rank.key}}">
  <button type='submit'>Delete</button>
  </form>
{% endfor  %}
</div>
<br>

<form method="post" action="{{upload_url}}" enctype="multipart/form-data">
<input type="file" name="file"/>
<input type='hidden' name='scout_key' value="{{scout.key}}"/>
<button type="submit">Upload Picture</button>
</form>


<form method='post' action='/delete_scout'>
<input type='hidden' name='scout_key' value="{{scout.key}}"/>
<button type='submit'>Delete Scout</button>
</form>

<form method='post' action='/rank'>
<input type='hidden' name='scout_key' value="{{scout.key}}"/>
<div>Rank</div><select name='rank_name'>

 {% for rank in all_ranks %}
   <option value="{{rank}}"> {{rank}} </option>)
 {% endfor  %} 

</select>
<div>Date Earned(mm/dd/yy)</div>
<input type='text' name='date_earned'/>
<div>Signature</div>
<input type='text' name='signature'/>
<button type='submit'>Create Rank</button>
</form>

{% endblock  %}
