body{
    background-color:#F0F8FF;
    font-family:'Trebuchet MS',Helvetica, 'sans-serif';
    margin:0px;
}

#content{
    background-color:white;
    text-align:left;
    width:960px;
    margin:auto;
    padding:30px;
    border-left:5px dotted green;
    border-right:5px dotted green;
    border-bottom:5px dotted green;
}

#header{
margin-left:300px;
}

#scout_picture{
max-width:100px;
max-height:100px;
float:left;
}

#scoutpage_content
{
border-bottom:3px dotted red;
}

#these_are{
border-bottom:1px dotted blue;
width:310px;
}

a{
color:black;
text-decoration:none;
}
